.step {
  font-size: 50px;
  position: relative;
  transform: rotate(90deg);
}
.innerstep {
  left: 60px;
  bottom: -130px;
  background-color: white;
  position: absolute;
  width: 300px;
  height: 300px;
  transform: rotate(-90deg);
  font-size: 16px;
}

.up {
position: absolute;
top: 0;
}

.down {
  position: absolute;
  bottom: 0;
}

._0 {
  left: 0px;

}

._1 {
  left: 70px;
}

._2 {
  left: 140px;

}