.step {
  font-size: 50px;
  position: relative;
  transform: rotate(90deg);
}
.innerstep {
  top: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.up {
position: absolute;
top: 0;
}

.down {
  position: absolute;
  bottom: 0;
}

._0 {
  left: 0px;

}

._1 {
  left: 70px;
}

._2 {
  left: 140px;

}