.container {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
}
.rightButton {
  position: fixed;
  top: 50%;
  right: 0;
  font-size: 40px;
  background-color: grey;
  padding: 20px;
  text-decoration: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: white;
}

.leftButton {
  position: fixed;
  top: 50%;
  left: 0;
  font-size: 40px;
  background-color: grey;
  padding: 20px;
  text-decoration: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
}
